// Colors

// Primary
$darkBlue: #23303e;
$yellow: #fad400;
$softRed: #fe7867;
$cyanDesign: #25564b;
$bluePhotograph: #19536b;
$cyanFooter: #458c7e;

// Neutral

$veryDarkGrayishBlue: #5a636c;
$darkGrayishBlue: #818498;
$grayishBlue: #a7abae;
$light: #fdfdfd;

// Measure

$container-width: 1170px;