// Colors
$darkBlue: hsl(212, 27%, 19%);
$yellow: hsl(51, 100%, 49%);
$softRed: hsl(7, 99%, 70%);
$cyanDesign: hsl(167, 40%, 24%);
$bluePhotograph: hsl(198, 62%, 26%);
$cyanFooter: hsl(168, 34%, 41%);


$container-width: 1170px;