@import "../sass/abstracts/mixins";

.testimonials__cards__item {
  text-align: center;
  padding: 0 25px;

  &__pic {
    width: 75px;
    border-radius: 50%;
  }

  &__paragraph {
    color: $veryDarkGrayishBlue;
    font-size: 0.9rem;
    line-height: 1.7rem;
    margin: 50px 0;

    @include mobile() {
      margin: 25px 0;
    }
  }

  &__name__link {
    color: $darkBlue;
    font-family: "Fraunces";
    font-size: 1.1rem;
    font-weight: 900;
  }

  &__occupation {
    color: $grayishBlue;
    font-size: 0.8rem;
    margin: 10px 0 120px 0;

  }
}
